@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
} */
/* styles/globals.css */

body {
  color: var(--foreground);
  background-image: url("/frontend/frontend/public/fondo.jpg");
  font-family: "Montserrat", sans-serif;
}
