name: Sincronizar rama main con salis

on:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  sync-branches:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout código
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Configurar Git
        run: |
          git config --global user.name "GitHub Actions Bot"
          git config --global user.email "actions@github.com"

      - name: Obtener último commit de la rama salis
        run: |
          git fetch origin salis
          LATEST_COMMIT=$(git rev-parse origin/salis)
          echo "LATEST_COMMIT=$LATEST_COMMIT" >> $GITHUB_ENV

      - name: Actualizar la rama main
        run: |
          git checkout -B main $LATEST_COMMIT
          git push origin main --force